/* ==UserStyle==
@name        BILIOB STYLE
@namespace      ApolloniusSun
@version        1.0.1
@homepageURL    https://github.com/ApolloniusSun/BILIOB-STYLE
@description    A new userstyle;
@author         Me

@advanced text THM_COLOR "主题色" "#1E88E5"
@advanced dropdown DIV_BG "选择背景" {
	BG_NONE "无背景"  <<<EOT "" EOT;
	BG_1 "bing每日图片" <<<EOT url(https://bing.getlove.cn/bingImage) EOT;
	BG_2 "unsplash随机" <<<EOT url(https://source.unsplash.com/1920x1080/?nature) EOT;
	BG_3 "BML2019 VR（pid: 74271400）" <<<EOT url(https://i.loli.net/2020/05/25/DA46cLGaPrhYqnl.jpg) EOT;
	BG_4 "2020拜年祭活动 " <<<EOT url(https://i.loli.net/2020/05/25/HxnieocyPIjWvQB.jpg) EOT;
	BG_5 "2020BDF" <<<EOT url(https://i.loli.net/2020/05/25/RbTGL1ZQfcHVwY3.jpg) EOT;
    BG_6 "自定义" <<<EOT var(--a-bg-custom) EOT;
}
@advanced text CUSTOM_BG "自定义背景" "url()"
@advanced text HEAD_OPACITY "设置顶栏透明度（0为完全透明，1为完全覆盖背景，允许小数）" "0.6"
@advanced text CARD_OPACITY "设置卡片透明度（0为完全透明，1为完全覆盖背景，允许小数）" "0.85"
@advanced text HEAD_BGCOLOR "顶栏背景颜色" "#66CCFF"
@advanced dropdown DW "外部文字黑白切换（根据背景自行选择）"{
    D "白色文字" <<<EOT #FFFFFF EOT;
    W "黑色文字" <<<EOT #000000 EOT;
}
@advanced dropdown HEAD_DW "顶栏文字黑白切换（根据背景自行选择）"{
    H_D "白色文字" <<<EOT #FFFFFF EOT;
    H_W "黑色文字" <<<EOT #000000 EOT;
}
==/UserStyle== */

@-moz-document domain("biliob.com") {
/*更新日志
    V1.0.0 开工
    V1.0.1 添加滑动条主题色，卡片半透明
    */
:root/*变量区*/
    {
        --thm-color:/*[[THM_COLOR]]*/;
        --a--bgimg:/*[[DIV_BG]]*/;
        --a-bg-custom: /*[[CUSTOM_BG]]*/;
        --a-head-opacity:/*[[HEAD_OPACITY]]*/;
        --a-card-opacity:/*[[CARD_OPACITY]]*/;
        --outtext-color:/*[[DW]]*/;
        --headertext-color:/*[[HEAD_DW]]*/;
        --header-bg-color:/*[[HEAD_BGCOLOR]]*/;
    }
div#app/*背景*/
    {
        background: none !important;
        background-image:var(--a--bgimg)!important;
        position: relative;
        background-attachment: fixed!important;
        background-size:100% 100%!important;
        background-repeat: no-repeat!important;
        background-position: center!important;
    }
/****顶栏*****/    
header/*顶栏透明渐变*/
    {
        background:linear-gradient(to top,transparent,rgba(0,0,0,.4))!important;
    }
div.v-toolbar__image/*顶栏背景半透明以及颜色叠加*/
    {
        background-color:var(--header-bg-color);
        opacity:var(--a-head-opacity)!important;
    }
}
div.v-slide-group__wrapper a:hover,div.v-slide-group__wrapper a.v-tab--active.v-tab/*顶栏滑动条按钮颜色保留*/
{
    color:var(--thm-color)!important;
}
div.v-toolbar__title div.title,header a.v-tab,header i/*顶栏文字颜色更改*/
{
    color:var(--headertext-color)!important;
}
/****主体*****/ 
div.v-banner__wrapper li,
div i.mdi-window-close,
div.col div.caption.text--secondary,
#sponsor-container h5,#sponsor-container h4,#sponsor-container span/*外部文字颜色*/
{
    color: var(--outtext-color)!important;
}
/*主题色*/
div.caption.text--secondary,#sponsor-container h3/*赞助标题*/,
button.v-expansion-panel-header h3,
div i.mdi-information::before,
div i.mdi-comment-multiple-outline::before,
div i.mdi-account-group::before/*按钮*/,
div.v-card__actions a span.v-btn__content/*主体部分主题色更改*/,
h3.px-5.py-1/*分块标题栏主题色*/,
div.col div.primary--text/*分块与内部数据*/,
div.v-card__text>a/*TOOLS超链接*/
{
    color:var(--thm-color)!important;
}
div.v-card.v-sheet button.v-btn.v-btn--block.v-btn--contained,
div.v-slide-group__content div.v-tabs-slider/*滑动条*/,
div button.v-btn.v-btn--contained.primary/*按钮主题色*/
{
    background-color:var(--thm-color)!important;
}

/*半透明*/
div.row.row--dense .v-card,/*主卡片半透明*/
div.col.col-12 div.v-tabs-bar,div.col.col-12 div.v-expansion-panel/*评论区卡片半透明*/,
div.row.row--dense div.v-tabs-bar/*独立滑动条栏半透明*/
{
    background:none!important;
    background-color:rgba(255, 255, 255,var(--a-card-opacity))!important;
}








